@import "../variables";

main {
  display: flex;
  min-height: 100vh;
}

#photo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  // TODO: temp
  background-image: url('https://scontent-prg1-1.cdninstagram.com/vp/7043ddd35d974fa29230832e78d60f55/5CBEF16E/t51.2885-15/e35/46361546_1133217973514236_9109774598732616257_n.jpg?_nc_ht=scontent-prg1-1.cdninstagram.com');
  background-position: -330px -150px;
}

#content {
  flex: 2;
  animation-name: fadeIn;
  animation-duration: 1.5s;

  h1 {
    font-size: 5rem;
    color: $black;
    font-weight: 600;
  }

  p {
    color: $black;
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin: 4rem 0;
  }

  a {
    color: $primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
