.content__title
	.content__title-main
		@media all and (max-width: 960px)
			font-size: 5rem

		@media all and (max-width: 600px)
			font-size: 4rem

		@media all and (max-width: 520px)
			font-size: 3rem
			text-align: center

	.content__title-second
		@media all and (max-width: 670px)
			font-size: 2rem

		@media all and (max-width: 520px)
			font-size: 1rem
			bottom: -.7rem

	.content__frame
		@media all and (max-width: 670px)
			padding: 1rem 3rem

		@media all and (max-width: 520px)
			padding: .5rem 1rem

.content__email
	@media all and (max-width: 520px)
		justify-content: center

.content__socials
	li

		@media all and (max-width: 670px)
			display: block

			&:first-of-type::before
				content: ' \00B7 '
				padding-right: .6rem