body

	// Changing font-size of whole page
	@media all and (max-width: 800px)
		font-size: 2.5em
	@media all and (max-width: 650px)
		font-size: 2em
	@media all and (max-width: 540px)
		font-size: 1.9em
	@media all and (max-width: 500px) 
		font-size: 1.5em

	#left
		#info
			h1
				// Changing font-size of main title
				@media all and (max-width: 1600px)
					font-size: 3em
				@media all and (max-width: 1500px)
					font-size: 2.8em
				@media all and (max-width: 1410px)
					font-size: 2.5em
				@media all and (max-width: 1270px)
					font-size: 2.3em
				@media all and (max-width: 1150px)
					font-size: 2.6em
					text-align: center


			@media all and (max-width: 1000px)
				h3
					font-size: .8em
					text-align: center
					&:before
						content: ''

		@media all and (max-width: 1150px)
			align-items: center
			margin: 0 15px

			#email
				margin-top: 70px
				flex-grow: 0

			#contact 
				margin-top: 30px
				span
					display: none // hide copyright on mobile version

	#right

		// Swap photos
		@media all and (max-width: 1430px)
			img.main
				display: none

			img.small
				display: block
				width: 100%

		@media all and (max-width: 1150px)
			display: none // hide photo