*
	margin: 0
	padding: 0
	border: 0
	box-sizing: border-box
	// outline: 2px solid pink //debug

$main: #F22613
$black: #242424

body, html
	height: 100%
	font-size: 16px
	color: $black

main
	font-size: 3em
	height: 100%
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	font-family: 'Roboto Slab', cursive

	.wrap
		flex-grow: 1
		justify-content: center
		align-items: center
		display: flex
		flex-direction: column

		h1
			font-size: 3em

		h3
			font-size: 2rem
			margin-bottom: 30px
			color: $main

		a
			text-transform: uppercase
			font-size: 1.8rem
			text-decoration: none
			color: $black
			padding: 10px 30px
			border-radius: 40px
			transition: all .3s ease-in-out

			&:hover
				color: #fff
				background: $main

	.more
		font-family: 'Gloria Hallelujah', cursive
		margin-bottom: 40px
