*
	margin: 0
	padding: 0
	border: 0
	// outline: 2px solid pink //debug

body, html
	height: 100%
	background: #ECF0F1
	font-family: 'Open Sans'

// grid
.full-height
	min-height: 100%

.quarter3-height
	min-height: 75%

.title

	font-size: 3.4em
	font-family: 'Open Sans Condensed', sans-serif

	&:before
		content: '- '

//add to compiled version /* It's better for you that it's minified */

header#landing
	// background: #004e92 // fallback for old browsers
	// background: -webkit-linear-gradient(to right, darken(#004e92, 20%) , #004e92)
	// background: linear-gradient(to right, darken(#004e92, 20%) , #004e92)

	//background
	background-image: url('../img/bg_light_green.jpg')
	background-position: fixed
	background-size: cover
	background-attachment: fixed
	transform: translateZ(-1px)

	@extend .full-height

	color: #ECF0F1
	display: flex
	flex-direction: column
	justify-content: center

	.wrap
		display: flex
		align-items: center
		margin-right: 0
		width: 50%

		@media screen and (max-width: 960px)
			width: 100%

	#me
		flex: 1
		font-size: 6em
		text-transform: uppercase
		margin-left: 30px

		//fade in with jQuery
		display: none

		@media screen and (max-width: 960px)
			margin: 0 auto
			margin-bottom: 40px

		#name
			margin-bottom: -50px
			padding-left: 15px
			font-weight: 100

			@media screen and (max-width: 960px)
				text-align: center

		#surname
			font-weight: 600
			letter-spacing: 2px
			font-size: 1.2em
			
			@media screen and (max-width: 960px)
				text-align: center

		#whoami
			font-size: 1.4rem
			margin-left: 20px
			text-transform: none

			@media screen and (max-width: 960px)
				text-align: center

		#about-me
			margin: 30px 0 20px 0
			font-size: 1.5rem
			text-transform: none
			line-height: 40px

			@media screen and (max-width: 960px)
				margin: 0 10px

	#picture
		flex: 1
		height: 100%

		display: flex
		align-items: center
		justify-content: center

		img
			max-width: 100%

section
	padding: 50px
	box-sizing: border-box

	@media screen and (max-width: 1000px)
		padding: 10px

	.text
		margin: 40px
		width: 80%
		font-size: 1.5em
		line-height: 1.6em

		@media screen and (max-width: 1000px)
			width: 90%
			margin: 0 auto

#intern
	background: #F89406 //#03A678
	color: #eee
	
	.wrap
		display: flex

		@media screen and (max-width: 1000px)
			flex-direction: column
			padding: 40px 0
		
		aside
			flex: 2
			align-self: center

		#time-to-summer
			flex: 1
			text-align: center

			h1
				font-size: 12rem

				@media screen and(max-width: 1000px)
					font-size: 10rem

			#remaining
				font-size: 2rem
				margin-top: -40px

			p
				font-size: 1.2em
				margin-top: 10px

		a
			color: inherit
			text-decoration: none
			font-weight: bold

#skills
	background: #eee

	#skills-title
		display: flex
		align-items: center
		justify-content: space-between

		.github-link
			color: gray
			text-decoration: none
			cursor: pointer
			font-size: 3.4em
			transition: all .3s ease-in-out

			&:hover
				color: #000

	section
		display: flex
		justify-content: center
		align-items: center

		@media screen and (max-width: 1000px)
			flex-direction: column
			align-items: flex-start
			margin: 0 20px
			font-size: .8em

		.skill-title
			flex: 1
			font-size: 3em
			text-transform: uppercase

		.details
			flex: 2
			font-size: 1.4em

	#other
		margin: 20px 0 0 50px
		font-size: 1.2em

		@media screen and (max-width: 1000px)
			margin: 0 20px

		div
			font-size: 1.8em
			margin-top: 10px

#references
	background: #eee

	div.reference
		width: 90% 
		display: flex
		align-items: center
		color: gray
		margin-top: 20px

		@media screen and (max-width: 1240px)
			flex-direction: column
			width: 100%
			font-size: .9em

		p
			padding: 20px

			&:before
				content: '“'
			&:after
				content: '”'

		.avatar-wrap
			display: flex
			flex-direction: column

			justify-content: center
			align-items: center				

			div
				margin-top: 15px
				text-align: center

				a
					color: black

			@media screen and (max-width: 1240px)
				margin-bottom: 30px

.avatar
	max-height: 256px

	-webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%)
	clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%)

#contact
	background: #2c3e50

	.wrap
		display: flex
		justify-content: space-between
		align-items: center
		padding: 20px
		padding-bottom: 100px
		color: white
		width: 70%
		margin: 0 auto

		@media all and (max-width: 1000px)
			flex-direction: column

	section
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: center

	.email
		font-size: 3em

		@media all and (max-width: 600px)
			font-size: 2em

	.avatar
		-webkit-clip-path: none
		clip-path: none
		border-radius: 50%

#footer
	background: #ECF0F1

	div
		display: flex
		flex-direction: column
		align-items: flex-end

	padding: 30px

	@media screen and (max-width: 1000px)
		padding: 10px

.email
	color: white
	font-size: 1.8rem
	text-decoration: none

	transition: all .3s ease-in-out

	&:hover
		color: #03A678

.socials
	margin-top: 40px

.social-icon
	color: white
	font-size: 2.2em
	padding: 5px
	cursor: pointer
	transition: all .3s ease-in-out

	&:hover
		color: #03A678