<body>
    {{- partialCached "header.html" . .Page -}}
    <main class="main">
        <header class="page-header">
            <h1>🙋🏻‍♂️&nbsp;About me</h1>
        </header>
        <section class="about-me">
            I'm a software developer with more than <strong> {{ (sub now.Year 2016 )}} years of experience</strong>, focusing on web applications.
            <br>
            <br>
            I began working on part-time in an agency while still in high school.
            This started my career as a full-stack developer with <strong>PHP & jQuery</strong> back in 2016.
            <br>
            Since then I've came across different technologies and projects; I also worked with Python, switched jQuery for ReactJS and later moved to NodeJS.
            <br>
            <br>
            Later on I joined STRV, which was my dream job from high school, and became a backend developer, leaving my FE skills in the past.
            <br>
            After working and seeing only the backend side for a few years, I started discovering <strong>cloud and DevOps</strong>.
            <br>
            I really liked it and decided to get an <strong>AWS Solutions Architect certificate</strong> to learn more about it.
            <br>
            <br>
            Nowadays, I'm still primarily a NodeJS developer, but I'm interested in technologies like <strong>Terraform, Kubernetes, networking and distributed systems</strong>.
            <br>
            When writing code, I'm always trying to think a few steps ahead and guess the possible issues or raise questions.
            I <strong>love learning from more experienced developers</strong> and I always appreciate a constructive feedback.
            <br>
            <br>
            I'm a minimalist with an eye for detail. I'm always <strong>curious about how things work under the hood</strong>, that's why I'm currently studying Kubernetes and one day I'd love to take a <strong>closer look at Linux and assembler</strong> 🤓.
            I'm not afraid to get in touch with unknown or start new things which I don't know much about. I prefer <strong>learning by doing</strong>, therefore working on something new while figuring out how it works is always my way to go.
            <br>
            <br>
            <strong>When I'm not coding</strong> or reading some cool nerdy stuff, I very much enjoy travelling&nbsp;✈️, hiking&nbsp;🏔 and riding my motorcycle&nbsp;🏍.
            <br>
            <br>
            You can follow me on <a href="https://www.instagram.com/jozefcipa/" target="_blank" class="link">instagram</a> to see more.
            <br>
            Also, I try to write <a href="/blog" class="link">this blog</a>.
        </section>
        <section class="public-speaking">
            <h2 class="subtitle">Speaking</h2>
            <ul>
                <li>
                    Intro to Load Testing <span class="note">[internal] (<a href="https://assets.jozefcipa.com/presentations/load-testing.pdf" target="_blank" class="link">Slides</a>)</span>
                    <em class="date">January&nbsp;2023</em>
                </li>
                <li>
                    Node.JS Beers: Lightning talk about STRV dating apps <span class="note">(<a href="https://assets.jozefcipa.com/presentations/strv-dating-apps.pdf" target="_blank" class="link">Slides</a>)</span>
                    <em class="date">August&nbsp;2021</em>
                </li>
                <li>
                    Online Backend Talk: Migrating Data Between Clouds <span class="note">(<a href="https://www.youtube.com/watch?v=lFkVKAdnW78" target="_blank" class="link">YouTube</a>)</span>
                    <em class="date">February&nbsp;2021</em>
                </li>
                <li>
                    Migrating Data Between Clouds <span class="note">[internal] (<a href="https://assets.jozefcipa.com/presentations/migrating-data-between-clouds.pdf" target="_blank" class="link">Slides</a>)</span>
                    <em class="date">December&nbsp;2020</em>
                </li>
                <li>
                    WebElement: ReactJS introduction <span class="note">(<a href="https://github.com/jozefcipa/react_webelement" target="_blank" class="link">Slides</a>)</span>
                    <em class="date">October&nbsp;2017</em>
                </li>
            </ul>
            <div>
                As I'm an introvert, public speaking was a nightmare for me for a long time.
                It took me a lot of time, courage and stepping out of my comfort zone
                to be able to finally have my first internal presentation at work 😰. <br>
                After that I kept pushing and had two public talks within half a year !!!
                As one would say, it's not a lot but it's honest work.
                Keeping that in mind I still try to overcome my fears and continue with that challenge of mine 💪.
            </div>
            <img src="/assets/honest-work.jpg" alt="">
        </section>
    </main>
</body>

{{- partialCached "theme_toggle.html" . -}}

