<body>
    {{- partialCached "header.html" . .Page -}}
    <main class="main">
        <header class="page-header">
            <h1>about me</h1>
        </header>
        <section class="about-me">
            I'm a software developer with <strong> {{ (sub now.Year 2016 )}}+ years</strong> of experience, focusing on web applications.<br>
            <br>
            I focus mainly on backend development in <span class="technology">Node.js</span>,
            but also have a lot of experience with <span class="technology">React.js</span> and frontend development. 
            In the past, I also worked with PHP, jQuery, and a little bit of Python.
            <br>
            Currently, I’m exploring <span class="technology">Go</span> and <span class="technology">Rust</span>
            and recently I got interested in <span class="technology">IoT</span> and automation.
            <br>
            <br>
            When writing code, I always think several steps ahead and try to predict possible issues that could cause problems in the future.
            <br>
            I <strong>love learning from more experienced developers</strong> and I always appreciate constructive feedback.
            <br>
            I'm a minimalist with an eye for detail. I'm always <strong>curious about how things work under the hood</strong> and try to understand the specifics. One day I'd love to take a closer look at <strong>Linux internals</strong> 🤓.
            <br>
            I'm not afraid to tackle the unknown or start new things that I don't know a lot about.
            I prefer <strong>learning by doing</strong>, therefore working on something new while figuring out how it works is the way to go.
            <br>
            <br>
            When I'm not coding or studying something, I really enjoy <em>exploring new countries</em>&nbsp;🌎 and <em>riding my motorcycle</em>&nbsp;🏍.
        </section>
        <div class="divider"></div>
        <section class="public-speaking">
            <h2 class="subtitle">Speaking</h2>
            <ul>
                <li>
                    Intro to Load Testing <span class="note">[internal] (<a href="https://assets.jozefcipa.com/presentations/load-testing.pdf" target="_blank" class="link">Slides</a>)</span>
                    <em class="date">January&nbsp;2023</em>
                </li>
                <li>
                    Node.JS Beers: Lightning talk about STRV dating apps <span class="note">(<a href="https://assets.jozefcipa.com/presentations/strv-dating-apps.pdf" target="_blank" class="link">Slides</a>)</span>
                    <em class="date">August&nbsp;2021</em>
                </li>
                <li>
                    Online Backend Talk: Migrating Data Between Clouds <span class="note">(<a href="https://www.youtube.com/watch?v=lFkVKAdnW78" target="_blank" class="link">YouTube</a>)</span>
                    <em class="date">February&nbsp;2021</em>
                </li>
                <li>
                    Migrating Data Between Clouds <span class="note">[internal] (<a href="https://assets.jozefcipa.com/presentations/migrating-data-between-clouds.pdf" target="_blank" class="link">Slides</a>)</span>
                    <em class="date">December&nbsp;2020</em>
                </li>
                <li>
                    WebElement: ReactJS introduction <span class="note">(<a href="https://github.com/jozefcipa/react_webelement" target="_blank" class="link">Slides</a>)</span>
                    <em class="date">October&nbsp;2017</em>
                </li>
            </ul>
        </section>
    </main>
</body>

{{- partialCached "theme_toggle.html" . -}}

