<body>
    {{- partialCached "header.html" . .Page -}}
    <main class="main">
        <header class="page-header">
            <h1>about me</h1>
        </header>
        <section class="about-me">
            I'm a software developer with <strong> {{ (sub now.Year 2016 )}}+ years</strong> of experience. <br>
            I primarily focus on backend development in <span class="technology">Node.js</span>, but also can do <span class="technology">React.js</span> if some frontend is needed.
            <br>

            // what I do now

            // what I'm also interested in - exploring, learning, curious

            // what I did in the past (over time)

            // what else I like to do except of programming

            <br>
            I began working on part-time in an agency while still in high school.
            This started my career as a full-stack developer with <strong>PHP & jQuery</strong> back in 2016.
            <br>
            Since then I've came across different technologies and projects; I also worked with Python, switched jQuery for ReactJS and later moved to Node.js.
            <br>
            <br>
            Later on I joined STRV, which was my dream job from high school, and became a backend developer, leaving my FE skills in the past.
            <br>
            After working and seeing only the backend side for a few years, I started discovering <strong>cloud and DevOps</strong>.
            I really liked it and decided to get an <strong>AWS Solutions Architect certificate</strong> to learn more about it.
            <br>
            <br>
            Nowadays, I'm primarily a <strong>Node.js</strong> developer, but I'm interested in exploring technologies like <strong>Terraform, Kubernetes, networking and distributed systems</strong>.
            <br>
            When writing code, I'm always trying to think a few steps ahead and guess the possible issues or raise questions.
            I <strong>love learning from more experienced developers</strong> and I always appreciate a constructive feedback.
            <br>
            <br>
            I'm a minimalist with an eye for detail. I'm always <strong>curious about how things work under the hood</strong>, that's why I'm currently studying Kubernetes and one day I'd love to take a closer look at <strong>Linux internals and Assembly</strong> 🤓.
            I'm not afraid to get in touch with unknown or start new things which I don't know much about. I prefer <strong>learning by doing</strong>, therefore working on something new while figuring out how it works is always my way to go.
            <br>
            <br>
            <strong>When I'm not coding</strong> or reading some cool nerdy stuff, I very much enjoy travelling&nbsp;✈️, hiking&nbsp;🏔 and riding my motorcycle&nbsp;🏍.
            <br>
        </section>
    </main>
</body>

{{- partialCached "theme_toggle.html" . -}}

