<body>
    {{- partialCached "header.html" . .Page -}}
    <main class="profile_container">
        {{- with .Site.Params.profileMode }}
        <div class="profile_inner">

            <div class="container">
                <div class="profile-text">
                    <div class="headline">
                        <strong>Hey 👋🏻,<br>I'm Jozef</strong><br>
                        {{ $.Site.Params.description }}
                    </div>
                    I specialize in NodeJS applications with focus on clean and quality code. <br>
                    Interested in DevOps & Kubernetes. <br>
                    Certified AWS solutions architect. <br>
                    <br>
                    Currently working at <a href="https://henchman.io" class="link">Henchman</a> and living in Prague&nbsp;🇨🇿.
                    <div class="divider"></div>
                    <span>
                        <a href="ma&#105;l&#116;o&#58;%68e&#108;l&#37;6&#70;&#64;joz&#101;%66c%&#54;&#57;pa&#46;com?subject=Hello!&body=Hey%20Jozef," class="link" itemprop="email">&#104;el&#108;&#111;&#64;&#106;oz&#101;&#102;ci&#112;a&#46;&#99;om</a>
                    </span>
                    {{- partial "social_icons.html" $.Site.Params.socialIcons -}}
                </div>
                <div class="profile_photo">
                    <img src="/assets/me.jpg"/>
                    <img src="/assets/me-small.jpg" class="small"/>
                </div>
            </div>
        </div>
        {{- end}}
    </main>
</body>
{{- partialCached "theme_toggle.html" . -}}
