<body>
    {{- partialCached "header.html" . .Page -}}
    <main class="main">
        <header class="page-header">
            <h1>🧪Projects</h1>
        </header>
        
        <ul>
            <li>
                Moja Zastavka (2017) - 
                <a href="https://github.com/jozefcipa/mojazastavka_api" class="link">api</a> & <a href="https://github.com/jozefcipa/mojazastavka_ios" class="link">ios</a>
            </li>
            <li>
                Parallel worker (2022) - 
                <a href="https://github.com/jozefcipa/parallel-worker" class="link">Github</a>
            </li>
            <li>
                GMail analyzer (2024) - <em>coming soon</em>
            </li>
            <li>
                Laundry alert (2024) - 
                <a href="https://github.com/jozefcipa/laundry-alert " class="link">Github</a>
            </li>
            <li>
                Go projekt (2024) - <a href="https://github.com/jozefcipa/novus" class="link">Github</a> <em>coming soon</em> 
            </li>
            <li>
                Robot - <em>coming soon</em>
            </li>
        </ul>
    </main>
</body>

{{- partialCached "theme_toggle.html" . -}}

