<body>
    {{- partialCached "header.html" . .Page -}}
    <main class="main">
        <header class="page-header">
            <h1>Work experience</h1>
        </header>
        <section class="work-section">
            <h2 class="subtitle"><a href="https://www.strv.com">STRV</a></h2>
            <em class="date">2019 - present</em>
            <div class="technologies">
                NodeJS, Typescript, AWS, Docker, Kubernetes, Terraform, Postgres, Redis, Firebase, CI/CD, Heroku, GraphQL
            </div>
            <div class="description">
                I've worked on projects for various US startups with great ideas, as well as for our own company's projects.
                <br>
                So far, I've had a chance to make sure all employees can submit their concerns to <a href="https://www.allvoices.co/" class="link">AllVoices</a>.
                Also, thanks to <a href="https://pumpkinpie.com/" class="link">PumpkinPie</a> people can meet new friends in a playful way, or find new love on <a
                    href="https://zoeapp.co" class="link">Zoe</a> & <a href="https://www.surgeapp.co/" class="link">Surge</a>.
                Besides that, I helped <a href="https://aifi.com/" class="link">AiFi</a> with a shopping revolution and <a href="https://www.actap.io/" class="link">Actapio</a> with their internal access system.
            </div>
        </section>
        <section class="work-section">
            <h2 class="subtitle">Freelance & Consulting</h2>
            <em class="date">2015 - present</em>
            <div class="technologies">
                NodeJS, AWS, DevOps
            </div>
            <div class="description">
                Apart from my full time work I sometimes work for other clients as well. I can help with NodeJS or ReactJS and also any backend / DevOps related stuff.
                I can also take a look at your project, do a code review, answer your questions, give some insights to your codebase or consult your project or idea.
            </div>
        </section>
        <section class="work-section">
            <h2 class="subtitle"><a href="https://bart.sk/en">bart.sk</a></h2>
            <em class="date">2016 - 2018</em>
            <div class="technologies">
                PHP, Zend, XSLT 😅, NodeJS, ReactJS, MariaDB, Docker, Gitlab
            </div>
            <div class="description">
                Focused mainly on e-commerce projects written in PHP, using the custom robust CMS solution.
                I worked here on part time during my studies in high school which allowed me to learn and gain a lot of experience as a junior developer.
            </div>
        </section>

        <div class="divider"></div>

        <section class="testimonial-container">
            <blockquote>
                If I would be to create a tech start-up tomorrow, Jozef will be in the first 3 people I'll be trying to hire!
                He reminds me of one of those wiz-kids that has the natural talent to grasp and learn and start doing anything related to computers in a lightning-speed manner.
                His approach to code structuring and architecture are on a high level and I always enjoyed reading his PRs, because I could even learn something new and interesting from them.
                The communication with Jozef was always super easy-going and fun, be it professional or not. Discussing technical problems with him was a breeze and that's always very important and helpful in a team!
            </blockquote>
            <div class="author">- Galin Kostov (ex-colleague, STRV)</div>
        </section>

        <section class="references-container">
            <h3>Some of the companies I worked with</h3>
            <div>
                <img src="/assets/basis.svg" alt="Basis" class="references">
                <img src="/assets/allvoices.png" alt="AllVoices" class="references">
                <img src="/assets/surge.svg" alt="Surge" class="references smaller">
                <img src="/assets/aifi.svg" alt="AiFi" class="references">
                <img src="/assets/pumpkinpie.webp" alt="PumpkinPie" class="references smaller">
                <img src="/assets/zoe.svg" alt="Zoe" class="references smaller">
                <img src="/assets/actapio.webp" alt="Actapio" class="references smaller">
                <img src="/assets/e-solutions.svg" alt="E-Solutions" class="references smaller">
                <img src="/assets/bestdrive.svg" alt="BestDrive" class="references">
                <img src="/assets/zachej.svg" alt="Zachej.sk" class="references smaller">
                <img src="/assets/podbanske-resort.svg" alt="Podbanske Resort" class="references smaller">
            </div>
        </section>

        <section class="contact-container">
                <h3>Interested in cooperation?</h3>

                <span>
                    Don't hesitate to <a href="ma&#105;l&#116;o&#58;%68e&#108;l&#37;6&#70;&#64;joz&#101;%66c%&#54;&#57;pa&#46;com?subject=Hello!&body=Hey%20Jozef," class="link" itemprop="email">contact me</a> 🚀
                </span>
        </section>
    </main>
</body>

{{- partialCached "theme_toggle.html" . -}}

