<body>
    {{- partialCached "header.html" . .Page -}}
    <main class="main">
        <header class="page-header">
            <h1>work</h1>
        </header>
        <section class="work-section">
            <h2 class="subtitle">
                <img src="/assets/lexiscreate.jpg" alt="" class="company-icon">
                <a href="https://henchman.io">Lexis® Create+ <small>(formerly Henchman)</small></a> 
            </h2>
            <div class="location">📍 Ghent, Belgium 🇧🇪 <em class="date">(March 2023 - present)</em></div>
            <div class="technologies">
                Node.js, Typescript, Postgres, AWS, React.js, Tailwind
            </div>
            <div class="description">
                I help to revolutionize the way legal teams draft contracts and manage knowledge.
                By building scalable backend systems I ensure our platform delivers an exceptional user experience. <br>
                Lexis® Create+ allows lawyers to focus on what matters most while taking care of the rest,
                making legal work faster and smarter.
            </div>
        </section>
        <section class="work-section">
            <h2 class="subtitle">
                <img src="/assets/strv.png" alt="" class="company-icon">
                <a href="https://www.strv.com">STRV</a>
            </h2>
            <div class="location">📍 Prague, Czechia 🇨🇿 <em class="date">(January 2019 - February 2023)</em></div>
            <div class="technologies">
            Node.js, Typescript, AWS, Docker, Kubernetes, Terraform, Postgres, Firebase, GraphQL
            </div>
            <div class="description">
                I've worked on projects for various US startups with great ideas, as well as for our own company's projects.
                <br>
                So far, I've had a chance to make sure all employees can submit their concerns to <a href="https://www.allvoices.co/" class="link">AllVoices</a>.
                Also, thanks to <a href="https://pumpkinpie.com/" class="link">PumpkinPie</a> people can meet new friends in a playful way, or find new love on <a
                    href="https://zoeapp.co" class="link">Zoe</a> & <a href="https://www.surgeapp.co/" class="link">Surge</a>.
                Besides that, I helped <a href="https://aifi.com/" class="link">AiFi</a> with a shopping revolution and <a href="https://www.actap.io/" class="link">Actapio</a> with their internal access system.
            </div>
        </section>
        <section class="work-section">
            <h2 class="subtitle">
                <img src="/assets/basis.png" alt="" class="company-icon">
                <a href="https://www.basisboard.com/">BasisBoard</a>
            </h2>
            <div class="location">📍 California, USA 🇺🇸 <em class="date">(part-time March 2022 - September 2022)</em></div>
            <div class="technologies">
                Node.js, Typescript, GCP, Microservices
            </div>
            <div class="description">
                Helped a US-based startup to build a new tool for communication in the construction industry
            </div>
        </section>
        <section class="work-section">
            <h2 class="subtitle">
                <img src="/assets/bart.jpg" alt="" class="company-icon">
                <a href="https://bart.sk/en">bart.sk</a>
            </h2>
            <div class="location">📍 Košice, Slovakia 🇸🇰 <em class="date">(part-time July 2016 - October 2018)</em>
            </div>
            <div class="technologies">
                PHP, Zend, XSLT 😅, Node.js, React.js, MariaDB, Docker, Gitlab
            </div>
            <div class="description">
                Focused mainly on e-commerce projects written in PHP, using the custom robust CMS solution.
                I worked here on part time during my studies in high school which allowed me to learn and gain a lot of experience as a junior developer.
            </div>
        </section>
        <div class="divider"></div>
        <section class="references-container">
            <h3>Some of the companies I worked with</h3>
            <div>
                <img src="/assets/henchman.svg" alt="Henchman" class="references">
                <img src="/assets/shwdwn.svg" alt="SHWDWN" class="references">
                <img src="/assets/basis.svg" alt="Basis" class="references">
                <img src="/assets/allvoices.png" alt="AllVoices" class="references smaller">
                <img src="/assets/surge.svg" alt="Surge" class="references smaller">
                <img src="/assets/aifi.svg" alt="AiFi" class="references">
                <img src="/assets/pumpkinpie.webp" alt="PumpkinPie" class="references smaller">
                <img src="/assets/zoe.svg" alt="Zoe" class="references smaller">
                <img src="/assets/actapio.webp" alt="Actapio" class="references smaller">
                <img src="/assets/e-solutions.svg" alt="E-Solutions" class="references">
                <img src="/assets/bestdrive.svg" alt="BestDrive" class="references">
                <img src="/assets/zachej.svg" alt="Zachej.sk" class="references smaller">
            </div>
        </section>
    </main>
</body>

{{- partialCached "theme_toggle.html" . -}}

