.profile_container {
    display: flex;
    justify-content: center;
    padding: 1em;
    margin-top: 5em;
}

.profile_inner {
    max-width: calc(var(--nav-width) + var(--gap) * 2);
}

.container {
    display: flex;
    justify-content: space-between;
}

/* TEMPORARY */
.container div {
    flex: 1;
}

.profile-text {
    font-size: 1.1em;
}

.profile-text .headline {
    font-size: 1.3em;
    margin-bottom: 1em;
}

.profile-text .headline strong {
    font-size: 1.5em;
}

.profile-text .social-icons a svg {
    width: 34px;
    height: 34px;
}

.profile-text a.link {
    font-weight: 400;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.profile-photo img {
    max-width: 500px;
    object-fit: cover;
    mask-image: url('/assets/blob.svg');
    mask-size: cover;
    -webkit-mask-image: url('/assets/blob.svg'); /* For Safari */
    -webkit-mask-size: cover;
}

@media screen and (max-width: 510px) {
    .profile-photo img {
        max-width: 350px;
    }
}

@media screen and (max-width: 360px) {
    .profile-photo img {
        max-width: 250px;
    }
}

h1 {
    font-size: 4em;
}

.link,
.post-content a {
    color: var(--color-primary);
    font-weight: 500;
    text-decoration: underline;
}

.link:hover,
.post-content a:hover {
    color: var(--color-secondary);
    text-decoration: underline;
}

.divider {
    width: 80px;
    height: 4px;
    border-radius: 10px;
    background: var(--color-secondary);
    margin: 3em 0 .5em;
}
