.work-section {
    margin: var(--gap) 0;
}

.work-section .technologies {
    font-size: .8em;
    color: var(--font-gray);
}

.work-section .subtitle {
    display: flex;
    align-items: center;
    margin-bottom: .3em;
}

.work-section .company-icon {
    width: 40px;
    margin-right: .3em;
    border-radius: 5px;
}

.work-section .location {
    font-size: .8em;
    margin-bottom: .3em;
}

.work-section .description {
    font-size: .9em;
}

.references-container {
    margin: 2em 0;
    background: #fff;
    padding: .5em 0;
}

.references {
    filter: grayscale(1);
    opacity: .3;
    height: 50px;
}

.references.smaller {
    height: 30px;
}

.references-container h3 {
    text-align: center;
    font-size: 1em;
    color: #000;
    font-weight: 400;
    margin-bottom: .5em;
}

.testimonial-container {
    margin: 2em 0;
}

.references-container div {
    text-align: center;
}

.references-container div img {
    display: inline-block;
    margin: 1rem;
}

.testimonial-container blockquote {
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
    font-family: 'Roboto Serif', serif;
    position: relative;
    text-align: justify;
}

.testimonial-container blockquote:before {
    content: '“';
    position: absolute;
    top: -45px;
    left: -45px;
    font-size: 5em;
}

.testimonial-container .author {
    font-size: .85em;
    text-align: center;
    font-style: italic;
    color: var(--font-gray);
}

.contact-container {
    text-align: center;
    font-size: 1.5em;
    margin: 1em 0 3em;
}

.project-section {
    margin-top: 1.5em;
}

.project-section svg {
    width: 28px;
    margin-right: .3em;
}

.project-section .technologies {
    font-size: .8em;
    color: var(--font-gray);
}

.project-section .subtitle {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    margin-bottom: .3em;
}

.project-section .subtitle a:hover {
    text-decoration: underline;
}

.project-section .description {
    font-size: .9em;
}

.project-section .date {
    font-size: .5em;
    margin-left: .5em;
    font-style: italic;
}

.project-section .view-github {
    display: flex;
    align-items: center;
    font-size: .7em;
}
.project-section .view-github a {
    text-decoration: underline;
}

.project-section .view-github:hover a{
    text-decoration: none;
    color: var(--color-secondary);
}