// Font
$font: 'Raleway', sans-serif;
$font-secondary: 'Source Sans Pro', sans-serif;
$default-font-size: 16px;

// Background
$background-url: url('../img/bg-texture.png');

// Colors
$primary: #222;

// Sizes
$icon-size: 52px;